# Copy this file to .env in your local BINI Vault directory.
SOURCE_REACENTI_ID=
SOURCE_REACENTI_GID=601608137
SOURCE_EXCLUSIVES_ID=
SOURCE_EXCLUSIVES_GID=601608137
SOURCE_CONCERTS_ID=
SOURCE_CONCERTS_GID=601608137
SOURCE_MISC_ID=
SOURCE_MISC_GID=0
SOURCE_FANCAMS_ID=
SOURCE_FANCAMS_GID=0
PORT=3000
